.super-mario {
  width: 170px;
  position: relative;
  left: 100px;
  top: 100px
}

.goomba {
  width: 100px;
  position: absolute;
  top: 400px

}

.baloon {
  position: absolute;
  z-index: 1;
  top: 260px;
  left: 360px;
  width: 250px;
}

.speach {
  font-size: 25px;
}

.bowser {
  width: 200px;
  position:absolute;
  top: 400px;
  left: 600px;
}

  p {
    position: absolute;
    top: 280px;
    left: 420px;
    width: 200px;
    z-index: 2;
}